@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.container {
  section {
    // height: 100vh;
  }

  canvas {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}

.content_inner {
  width: 100%;
  max-width: calc(325px * 3 + 120px);
  margin: 0 auto;
}

.content-about {
  padding: 100px 0;

  .list-wrap {
    // opacity: 0.2;
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    cursor: pointer;
    position: relative;
    width: 325px;
    margin: 0 60px 183px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }

    .num {
      display: block;
      position: absolute;
      top: -24px;
      left: 0;
      font-size: 24px;
      font-weight: 400;
      color: #000;
      transition: transform 0.3s;
    }

    .image-wrap {
      opacity: 0.3;
      img {
        display: block;
        max-width: 100%;
      }
    }

    .text-wrap {
      position: absolute;
      top: calc(100% + 15px);
      transition: transform 0.3s;

      .title {
        font-size: 20px;
        font-weight: 400;
        color: #000;
      }
    }

    &:hover {
      .num {
        transform: translate3d(0, 30px, 0);
      }
      .text-wrap {
        transform: translate3d(0, -30px, 0);
      }
    }
  }
}
