* {
  box-sizing: border-box;
}

.container {
  section {
    height: 100vh;
  }

  canvas {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}

.content_inner {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.content-about {
  padding: 100px 0;

  .list-wrap {
    border: 1px solid blue;
    opacity: 0.2;
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    border: 1px solid red;
    width: calc(50% - 60px);
    margin: 30px;

    img {
      max-width: 100%;
    }
  }
}
