* {
  box-sizing: border-box;
}

.container {
  section {
    height: 100vh;
  }

  canvas {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}

.content_inner {
  width: 100%;
  max-width: calc(325px * 3 + 120px);
  margin: 0 auto;
}

.content-about {
  padding: 100px 0;

  .list-wrap {
    opacity: 0.2;
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    cursor: pointer;
    border: 1px solid red;
    width: 325px;
    margin: 0 60px 185px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      max-width: 100%;
    }
  }
}
